.WraperGameLayer {
    display: flex;
    justify-content: center;
}

.GameLayer {
    /* border: 2px solid rgba(9, 185, 82, 0.527); */
    width: 960px;
    height: 540px;
    position: relative;
}

.person {
    position: absolute;
    width: 125px;
    height: 200px;
    background: url(../../assets/img/maleAdventurer.png) no-repeat;
    background-size: cover;  
    z-index: 200;     
  }