.WraperDisplayGame {
    display: flex;
    justify-content: center;
}

.DisplayGame {
    border: 2px solid skyblue;
    border-radius: 5px;
    width: 960px;
    height: 540px;
    position: relative; 
}