.selsectNumber {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.elemSelect {
    display: flex;
    flex-grow: 1;
    flex-basis: 25%;
    height: 100px;
    min-width: 180px;
    max-width: 266px;  
    margin-right: 10px;
    margin-left: 10px;
    background: skyblue;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: rgb(4, 77, 172);
    margin-top: 10px;
    border-radius: 5%;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.number {
    margin: auto;
    display: block;   
}

.selectNumber {
    text-decoration: none;    
}