.WraperGameLayer {
    display: flex;
    justify-content: center;
}

.GameLayer {
    /* border: 2px solid rgba(9, 185, 82, 0.527); */
    width: 960px;
    height: 540px;
    position: relative;
}

.numbers {
    position: absolute;
    font-size: 32px;   
}

.nomberOther {
    position: absolute;
}